body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

#login-container, #dashboard-container {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
